body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("assets/images/background-dark.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
}
